@font-face {
    font-family: 'Usually-font';
    src: url('Usually-font-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uindbase Font 1';
    src: url('UF1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    font-size: 100%;
    color: white;
    font: inherit;
    overflow-x: hidden;
    font-family: 'Uindbase Font 1';
    vertical-align: baseline;
    text-transform: uppercase;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #0E141C 0%, #0A0F14 100%);

}
html{
    background: linear-gradient(180deg, #0E141C 0%, #0A0F14 100%);

}
body {
    height: 4000px;  
}
header{
    padding-top: 43px;
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 135px;
    display: flex;
    margin: 0 auto;    
}
.header__social-media{
    margin-left: 300px;
    height: 30px;
    gap: 10px;
    grid-area: social;
    display: flex;
    justify-content: end;
}
.header__gender{
    grid-area: gender;
    display: flex;
    justify-content: start;
}
.navigation{
    display: flex;
    align-items: center;
}
.header__navbar{
    grid-area: navbar;
    justify-content: start;
    gap: 10px;
}
.main{
padding: 10px 30px;
gap: 0px;
opacity: 0px;
animation-timing-function: ease-out;
animation-duration: 1s;
width: 100px;
height: 12px;
gap: 0px;
opacity: 0px;
font-family: Uindbase Font 1, sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 12px;
text-align: center;

}
.collections{
padding: 10px 30px 10px 30px;
gap: 0px;
opacity: 0px;
animation-timing-function: ease-out;
animation-duration: 1s;
width: 150px;
height: 12px;
gap: 0px;
opacity: 0px;
font-family: Uindbase Font 1, sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 12px;
text-align: center;
}
.main{
    height: auto;
    width: auto;
}
.us{
    width: 145px;
    height: 92px;
    text-wrap: nowrap;
    padding: 10px 30px 10px 30px;
    gap: 0px;
    opacity: 0px;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    width: 85px;
    height: 12px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Uindbase Font 1', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
}

.contacts{
    width: 145px;
    height: 32px;
    padding: 10px 30px 10px 30px;
    gap: 0px;
    opacity: 0px;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    width: 85px;
    height: 12px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Uindbase Font 1', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
}
.basket{
    width: 145px;
    height: 32px;
    padding: 10px 30px 10px 30px;
    gap: 0px;
    opacity: 0px;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    width: 85px;
    height: 12px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Uindbase Font 1', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
}

.header__gender{
    display: flex;
    gap: 5px;
    padding-left: 9vw;
    
}
.ll{
    padding: 10px 30px;
gap: 0px;
opacity: 0px;
animation-timing-function: ease-out;
animation-duration: 1s;
width: 100px;
height: 12px;
gap: 0px;
opacity: 0px;
font-family: Uindbase Font 1, sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 12px;
text-align: center;
}
.mmm{
    font-size: 20px;
    padding-right: 10px;
}
.menu{
    display: none;
}
.women a{
    font-size: 12px;
}
.men a{
    font-size: 12px;
}
.unisex a{
    font-size: 12px;
}
.clothes{
    align-items: center;
    margin:auto;
}
.clothes .logo_body{
    text-align: center;
}
.clothes .blur{
    text-align: center;
}
.clothes .blur .cl{

    text-shadow: rgb(107, 25, 106) 1px 0 10px;
       position: absolute;
    width: 1210px;
height: 226px;
left: 51.2px;
gap: 0px;
transform: translate(10%, 100px);
opacity: 0px;
font-family: 'Usually-font', sans-serif;
font-size: 130px;
font-weight: 700;
line-height: 113.23px;
text-align: center;
z-index: 2;
    position: relative;
}
.clothes .blur .back_cl{
    z-index: -1;
    position:relative;
    width: 1920px;
height: 305px;
top: 346px;
gap: 0px;
opacity: 0.1px;
font-size: 170px;
font-weight: 700;
line-height: 148.07px;

text-align: center;
top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    z-index: 1;
    pointer-events: none;
}
.clothes .text{
    text-align: center;
}
.cl p{
    font-family:Usually-font;
}
.back_cl p{
    font-family: Usually-font;
    opacity: 0.5;
}
.catalog{

    width: 205px;
height: 53px;
top: 829px;
left: 90vw;
margin-left: 1200px;
border-radius: 50px;
border: 2px 0px 0px 0px;
border: 2px solid #D1C12B
;

display: flex;
align-items: center;
justify-content: center;

}
.catalog p{
    width: 87px;
height: 24px;
font-size: 20px;
font-weight: 500;
line-height: 24.24px;

}
.season {
    margin-top: 214px;
    text-align: center;
    padding: 50px 0;
}

.season__text {
    position: relative;
}

.main-text {
    margin-left: 20px;
    font-family: 'Uindbase Font 1';
    font-size: 130px;
    z-index: 2;
    position: absolute;
}
.background-text {
    font-family: 'Usually-font';
    font-size: 170px;
    color: white;
    opacity: 0.1;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.actual{
    margin-top:20px;
    width: 1,568px;
height: 200px;
padding: 50px 0px 50px 0px;
gap: 0px;
opacity: 0px;

}
.actual__front{
    margin-top:65px;
    justify-content: end;
    width: 679px;
    
height: 100px;
gap: 0px;
opacity: 1;
font-family: Uindbase Font 1;
font-size: 100px;
font-weight: 400;
line-height: 100px;
text-align: right;
position: absolute;
z-index: 2;
}

.actual__back{
    margin-left: 176px;
}
.actual__back p{
    font-family: 'Usually-font';
    font-size: 170px;
    color: white;
    opacity: 0.1;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.look-more{
    width:100%;
}
.blocks{
    display:flex;
    gap: 50px;
    margin-left: 150px;
}
.block1{
    background-color:  #10171F;
}
.block2{
    background-color:  #10171F;
}
.block3{
    background-color:  #10171F;
}
.block4{
    background-color:  #10171F;
}
.foot{
    display:flex;
    justify-content: space-between;
}
.bottom-content-of-block{
    margin-top: 50px;
    margin-left:1250px;
}
.top-content{
    margin-top:30px;
}
.top-content__front-text{
    margin-left: 50px;
    z-index: 2;
    position: absolute;

}
.top-content__front-text p{
    font-family: 'Uindbase Font 1';
    font-size: 130px;
}
.top-content__back-text{
    margin-left:90px;
    font-family: 'Usually-font';
    font-size: 170px;
    color: white;
    opacity: 0.1;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.top-content__back-text p{
    width: 1200px;
    font-family: Usually-font;
    font-size: 170px;
}
.location_container{
    display:flex;
    align-items:center;
    
}
.location-img{
    margin-left: 50px;
}
.location-content{
    margin-left: 100px;

}
.location__social{
    display:flex;
    gap: 5px;
    justify-content: center;
}
footer{
    margin-top: 300px;
    display:flex;
    justify-content: space-between;
}
.footer__politial{
    margin-left: 200px;
}
.footer__politial p{
    justify-content: center;
}
.footer__logo-low{
    display:flex;
    justify-content: space-between;
    gap: 20px;
}
.footer__social{
    display:flex;
    gap: 5px;
    align-items: center;
    margin-right: 200px;
}

@media (max-width: 1600px){
    .menu{
        display: none;
    }
    body{
        font-size: 18px;
        width: 1600px;
    }
}
@media (max-width: 1400px){
    .menu{
        display: none;
    }
    body{
        font-size: 16px;
        width: 1400px;
    }
    .header__social-media{
        display:none;
    }
}
@media (max-width: 1200px){
    .menu{
        display: none;
    }
    body{
        font-size: 14px;
        width: 1200px;
    }
    .header__social-media{
        display:none
    }
}
@media (max-width: 800px){
    .menu{
        display: none;
    }
    body{
        font-size : 14px;
        
    }
    .header__gender{
        display:flex;
        justify-content: center;

    }
    .header__gender p{
    
font-family: Uindbase Font 1;
font-size: 15px;
font-weight: 400;
line-height: 15px;
text-align: center;

    }
    .header__social-media{
        display: none;
    }
    
    .blur {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .blur .cl{
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }
    .blur .cl p{
        font-size:60px;
        transform: translateX(-150px);
    }
    .blur .back_cl p{
        font-size:80px;
    }
    .season__text{
        justify-content: center;
        text-align: center;
    }
    
    .main-text p{
        position: relative;
        font-size: 80px;
    }
    .blocks{
        display:flex;
        margin-left: 250px;
    }
    .block3{
        display: none;
    }
    .block4{
        display: none;
        
    }
    .actual__front p{
        position: relative;
    }
    .top-content__front-text p{
        position: relative;
        z-index: 2;
    }
    .location_container{
        flex-direction: column;
    }
    .location-img{
        margin-top: 100px;
        width: 100%;
    }
    .location-content{
        margin-top: 50px;
    }
    footer{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .footer__logo{
        transform: translateX(50px);
    }
    .footer__social{
        transform: translateX(150px);
    }
}
@media (max-width: 428px){
    .menu{
        display: flex;
    }
    .header__social-media{
        display: flex;
        transform: translateX(400px);
    }
    .header__navbar{
        display:none;
    }
    .header__gender{
        display: none;
    }
}
